
<head>
    <meta charset="utf-8">
    <title>Recocup </title>
        	  <link rel="stylesheet" href = "Recocup.css" type = "text/css" />
</head>
 <style type="text/css">
a{
	text-decoration: none;
	color: red;
	font-style: italic;
}
a:hover{
	text-decoration: underline;
	color : gold;
}
p{
	margin : 50px;
}
.vision{
	font-style: italic;
	margin: 20px;
}


.toolbox{
	display:inline-block; ;
	justify-content: flex;
	background-color:  rgba(255, 255, 255, 100);



}

.toolbox_button	{
		display: inline-block;
		vertical-align: middle;
		height: 8vh;
		width: 10vw;
		text-align: center;
		background-color:  rgba(200, 200, 200, 100);
		font-size: 10px;
		font-weight: 500;
		cursor: pointer;
	}
	.toolbox_button :hover	{
		display: inline-block;
		height: 8vh;
		width: 10vw;
		text-align: center;
		font-size: 100%;
		font-weight: 500;
		background-color:  rgba(100, 150, 150, 100);

	}
.toolbox_button a:hover{
text-decoration: none;
color = gold;
}

.toolbox_button a
{
	display: inline-block;
	height: 100%;
	width: 100%;
	color: inherit;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: 0.2s;
}
.droite{
	text-align: right;
	float:right}

</style>
<header>
	<div class = "toolbox" id = "toolbox">
	<div class ="toolbox_button">
	<a href = ''></br> Accueil </a>
	</div>
	<div class = "toolbox_button">
	 <a href = '/connection'> User</a>
	</div>
	<div class = "toolbox_button">
		<a href = '/connection_admin'> Admin </a>
	   </div>
	
	</header>
	
	<p class = "droite"> <img class = "image" src = 'logo_PACT.png'/> </p>
    <h1> Recocup, Le management d'ecocup! </h1>       
	<p> Vous êtes à l'acceuil! </br>

        <img class = "image" src = 'recocup.png' alt = 'recocup'/>

        </br>
        Recocup est un distributeur d’Ecocup. Mais qu’est-ce qu’un Ecocup ? Un écocup est un gobelet réutilisable en plastique. C’est donc une façon de s’émanciper des gobelets en plastique jetables.
Bien évidemment, nous ne facturons pas l’Ecocup. Nous ne faisons payer qu’une caution lors de l’inscription initial. Si l’utilisateur ramène son Ecocup, il récupère sa caution sous la forme d’un crédit. C’est tout simplement un prêt d’Ecocup. S’il ne le ramène pas il perd sa caution.</br></br>
Un écran lié à Recocup permet de se connecter manuellement à son compte. L’utilisateur voit alors le nombre de crédit qu’il a et s’il n’en a plus, il peut recharger son compte via un payement Lydia. S’il a son téléphone, il peut se connecter sur notre application et alors voir sur son téléphone son nombre de crédit.</br></br>
Toutes ces données sont répertoriées sur une base de données sur le serveur pour que toutes les écoles puissent y connecter.</br></br>
Si l’utilisateur dispose de crédits et qu’il veut retirer un Ecocup, le serveur/l’application génère un QR-code qui est envoyé vers Recocup pour qu’il puisse être reconnu.</br></br>
Dans la mesure où ce projet vise à faire disparaitre les gobelets jetables, polluants à tel point que l’Union Européenne essaye de les bannir définitivement en 2020, il rentre dans le cadre environnemental de MAD.  De plus, il incite l’utilisateur à avoir un comportement plus « vert » en favorisant l’utilisation d’un gobelet non polluant.
</p>